<nav class="navbar navbar-expand-md">
  <div class="container-fluid">
    <div class="col-2 d-block align-items-center">
      <a class="navbar-brand" href="/home">
        <img src="../../../assets/img/icono.svg" class="img-fluid" alt="logo">
      </a>
    </div>
    <button class="navbar-toggler bg-body-secondary" type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#navbarContent" 
      aria-controls="navbarContent" 
      aria-expanded="false" 
      aria-label="Toggle navigation"
      (click)= isCollapse()>
      <span class="navbar-toggler-icon icon-white"></span>
      
    </button>
    <div class="collapse navbar-collapse {{menu}}" id="navbarContent" >
      <div class="col-10 navbar-nav d-flex justify-content-evenly m-2">
        @for (item of navBar; track item) {
          <a
          [routerLink]="item.path"
          routerLinkActive="bg-primary rounded"
          class="p-2 d-inline-flex"
          [class.border]="(item.title === 'Contact' || item.title === 'Curriculum')"
          [class.border-light]="(item.title === 'Contact' || item.title === 'Curriculum')"
          >
          <div class="flex flex-col" >
              <span class="text-lg font-bold leading-5 text-white">
                {{item.title}}
              </span>
          </div>
          </a>
      }
      </div>
    </div>
  </div>
</nav>