<section>
  <h2 class="text-start my-3">Tecnicas</h2>
  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    <div class="col">
      <div class="p-3 skill ">
        <img src="../../../assets/img/icon-angular.svg" alt="">
        <p>Angular</p>
      </div>
    </div>
    <div class="col">
      <div class="p-3 skill rounded">
        <img src="../../../assets/img/icon-react.svg" alt="">
        <p>React</p>
      </div>
    </div>
    <div class="col">
      <div class="p-3 skill rounded">
        <img src="../../../assets/img/icon-express.svg" alt="">
        <p>Express</p>
      </div> 
    </div>
    <div class="col">
      <div class="p-3 skill rounded">
        <img src="../../../assets/img/icon-nodejs.svg" alt="">
        <p>Node.js</p>
      </div>
    </div>
    <div class="col">
      <div class="p-3 skill rounded">
        <img src="../../../assets/img/icon-js.svg" alt="">
        <p>Javascript</p>
      </div>
    </div>
    <div class="col">
      <div class="p-3 skill rounded">
        <img src="../../../assets/img/icon-html.svg" alt="">
        <p>HTML:5</p>
      </div>
    </div>
    <div class="col">
      <div class="p-3 skill rounded">
        <img src="../../../assets/img/icon-css.svg" alt="">
        <p>CSS</p>
      </div> 
    </div>
    <div class="col">
      <div class="p-3 skill rounded">
        <img src="../../../assets/img/icon-bootstrap.svg" alt="">
        <p>Bootstrap</p>
      </div> 
    </div>
    <div class="col">
      <div class="p-3 skill rounded">
        <img src="../../../assets/img/icon-tailwind.svg" alt="">
        <p>Tailwind</p>
      </div>
    </div>
    <div class="col">
      <div class="p-3 skill rounded">
        <img src="../../../assets/img/icon-mongodb.svg" alt="">
        <p>MongoDB</p>
      </div>
    </div>
  </div>
  <h2 class="text-start my-3">Blandas</h2>
  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    <div class="col">
      <div class="p-3 skill rounded">
        <p>Trabajo en equipo</p>
      </div>
    </div>
    <div class="col">
      <div class="p-3 skill rounded">
        <p>Flexibilidad </p>
      </div> 
    </div>
    <div class="col">
      <div class="p-3 skill rounded">
        <p>adaptabilidad</p>
      </div>
    </div>
    <div class="col">
      <div class="p-3 skill rounded">
        <p>Empatía</p>
      </div>
    </div>
    <div class="col">
      <div class="p-3 skill rounded">
        <p>Autoaprendizaje </p>
      </div> 
    </div>
    <div class="col">
      <div class="p-3 skill rounded">
        <p>Resiliencia</p>
      </div> 
    </div>
    <div class="col">
      <div class="p-3 skill rounded">
        <p>Comunicación efectiva</p>
      </div>
    </div>
    <div class="col">
      <div class="p-3 skill rounded">
        <p>Resolución de problemas</p>
      </div>
    </div>
  </div>
</section>