<div class="container-fluid">
  <div class="row py-4 row-cols-1 row-cols-md-2">
    <div class="col-7">
      <div class="m-5 p-1">
        <h1 class="text-primary my-4">Jhelcy sandoval</h1>
        <h2 class="fs-1 grey d-inline text-black px-3 my-4">Frontend developer</h2>
        <h3 class="fs-2 fst-italic my-4">Transformando líneas de código en soluciones innovadoras</h3>
      </div>
    </div>
    <div class="col">
      <div class="banner-image d-flex justify-content-center p-5">
        <img  class="rounded-circle img-fluid w-75 h-50" src="../../../assets/img/foto.jpg" alt="foto de perfil">
      </div>
    </div>
  </div>
  <div class="row grey">
    <div class="col">
      <div class="d-flex justify-content-center p-5">
        <img src="../../../assets/img/foto-2.jpg" alt="foto-2">
      </div>
    </div>
    <div class="col border-start border-dark border-2 p-5">
      <h1 class="fw-bold fs-1">¡Hola a todos!</h1>
      <p class="fs-5 my-4">Soy  Jhelcy Sandoval, Tecnólogo en Análisis y Desarrollo de Sistemas de Información, y me especializo en la creación de soluciones a medida para el mundo empresarial. </p>
      <p class="fs-5 border border-primary p-2 rounded shadow">Como desarrollador frontend, tengo las habilidades necesarias para llevar tus ideas desde la concepción hasta la implementación, ofreciendo soluciones robustas y eficientes.</p>
    </div>
  </div>
  <div class="row py-4">
    <div class="col-5">
      <hr class="border border-ligth border-3 opacity-75">
    </div>
    <div class="col-2 d-flex justify-content-center">
      <h1>servicios</h1>
    </div>
    <div class="col-5 ">
      <hr class="border border-ligth border-3 opacity-75">
    </div>
  </div>
  <div class="row row-cols-sm-1 row-cols-md-4">
    <div class="col d-flex justify-content-center">
      <div class="text-center p-5">
        <p>hola</p>
        <p>holoihyfyt guohtufgiu hbgfyvgu, lhugnyrdjtg kygtfrfytuftiutvy</p>
        <a href="">ver mas</a>
      </div>
    </div>
    <div class="col d-flex justify-content-center">
      <div class="text-center p-5">
        <p>hola</p>
        <p>holoihyfy tguohtufgiu hbgfyvgu, lhugnyrdjtg kygtfrfytu ftiutvy</p>
        <a href="">ver mas</a>
      </div>
    </div>
    <div class="col d-flex justify-content-center">
      <div class="text-center p-5">
        <p>hola</p>
        <p>holoihyfyt guohtufgiuhb gfyvgu,lhugnyrd  jtgkygtfrfyt uftiutvy</p>
        <a href=""> ver mas</a>
      </div>
    </div>
    <div class="col d-flex justify-content-center">
      <div class="text-center p-5">
        <p>hola</p>
        <p>holoihyfytguoht ufgiuhbgfyvgu, lhugnyrdjtgky gtfrfytuftiutvy</p>
        <a href="">ver mas</a>
      </div>
    </div>
  </div>
  <div class="row ">
    <div class="col d-flex justify-content-center">
      <h1>Habilidades</h1>
    </div>
  </div>
  <div class="row p-5">
    <div class="col mx-5">
      <h1>Habilidades tecnicas</h1>
      <h4 class="fs-5">javascript</h4>
      <div class="progress bg-transparent" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar" style="width: 25%">25%</div>
      </div>
      <h4 class="fs-5">javascript</h4>
      <div class="progress bg-transparent" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar" style="width: 25%">25%</div>
      </div>
      <h4 class="fs-5">javascript</h4>
      <div class="progress bg-transparent" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar" style="width: 25%">25%</div>
      </div>
      <h4 class="fs-5">javascript</h4>
      <div class="progress bg-transparent" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar" style="width: 25%">25%</div>
      </div>
    </div>
    <div class="col">
      <h1>Habilidades tecnicas</h1>
      <h4 class="fs-5">javascript</h4>
      <div class="progress bg-transparent" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar" style="width: 25%">25%</div>
      </div>
      <h4 class="fs-5">javascript</h4>
      <div class="progress bg-transparent" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar" style="width: 25%">25%</div>
      </div>
      <h4 class="fs-5">javascript</h4>
      <div class="progress bg-transparent" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar" style="width: 25%">25%</div>
      </div>
      <h4 class="fs-5">javascript</h4>
      <div class="progress bg-transparent" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar" style="width: 25%">25%</div>
      </div>
    </div> 
  </div>
  <div class="row grey">
    <div class="col">
      
    </div>
    <div class="col px-5">
      
    </div>
  </div>
</div>