<section>
  <div class="container-lg mb-1">
    <div class="py-3">
      <h1 class="text-center display-3 fw-bolder p-4 border border-primary rounded">Portafolio</h1>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-md-4 g-3 py-4 mb-1">
      <div class="col d-flex justify-content-center">
        <div class="card text-bg-dark" style="width: 18rem;">
          <img src="../../../assets/img/app-one.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Portafolio</h5>
            <p class="card-text">¡Bienvenido a mi portafolio web! Aquí, presento toda la información relevante sobre mí, desde habilidades hasta servicios, proyectos y más.</p>
            <p><strong>Angular | Javascript | HTML | CSS | Bootstrap</strong></p>
            <p>Git | <a href="https://github.com/Jhelcy-Sandoval/Portafolio" target="_blank">GitHub</a> | cmd | VSC</p>
            <a href="#" class="btn btn-primary">ver proyecto</a>
          </div>
        </div>
      </div>
      <div class="col d-flex justify-content-center">
        <div class="card text-bg-dark" style="width: 18rem;">
          <img src="../../../assets/img/app-two.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Software de gestión de proyectos</h5>
            <p class="card-text">¡Muy pronto podrás explorar mi software de gestión de proyectos! Con un enfoque en la eficiencia y la organización, este sistema está diseñado para facilitar la supervisión y coordinación de proyectos.</p>
          </div>
        </div>
      </div>
      <!-- <div class="col d-flex justify-content-center">
        <div class="card text-bg-dark" style="width: 18rem;">
          <img src="../../../assets/img/app-three.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col d-flex justify-content-center">
        <div class="card text-bg-dark" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col d-flex justify-content-center">
        <div class="card text-bg-dark" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col d-flex justify-content-center">
        <div class="card text-bg-dark" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>