<section>
  <div class="container-lg mb-1">
    <div class="py-3">
      <h1 class="text-center display-3 fw-bolder p-4 border border-primary rounded">Portafolio</h1>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-md-4 g-3 py-4 mb-1">
      <div class="col d-flex justify-content-center">
        <div class="card text-bg-dark" style="width: 18rem;">
          <img src="../../../assets/img/Título.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="accordion-item">
              <h2 class="accordion-header card-title py-2">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Juego de Adivinanza
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse " data-bs-parent="#accordionOne">
                <div class="accordion-body">
                  <p class="card-text">Este es un sencillo juego de adivinanza en el que el jugador debe adivinar un número entre 1 y 100. El juego proporciona retroalimentación al jugador indicando si el número adivinado es demasiado alto o demasiado bajo, y cuenta la cantidad de intentos realizados. El objetivo es adivinar el número correcto en el menor número de intentos posible.</p>
                  <p><strong> Javascript | HTML | CSS | Bootstrap </strong></p>
                  <p>Git | <a href="https://jhelcy-sandoval.github.io/proyecto-final/" target="_blank">GitHub</a> | cmd | VSC </p>
                </div>
              </div>
            </div>
            <a href="https://jhelcy-sandoval.github.io/proyecto-final/" class="btn btn-primary">ver proyecto</a>
          </div>
        </div>
      </div>
      <div class="col d-flex justify-content-center">
        <div class="card text-bg-dark" style="width: 18rem;">
          <img src="../../../assets/img/app-two.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="accordion-item">
              <h2 class="accordion-header card-title py-2">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                  Software de gestión de proyectos
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionTwo">
                <div class="accordion-body">
                  <p class="card-text">Optimiza la gestión de proyectos con una plataforma intuitiva y eficiente. Organiza tareas en categorías, desglosa el trabajo en subtareas y sigue el progreso en tiempo real. Comparte y almacena archivos de manera sencilla para mantener toda la información en un solo lugar. Ideal para profesionales y equipos que buscan mayor productividad y control en sus proyectos.</p>
                  <p><strong> React | Express | HTML | CSS | Tailwind </strong></p>
                  <p>Git | <a href="https://github.com/Jhelcy-Sandoval/Sistema-de-gesti-n-de-proyectos" target="_blank">GitHub</a> | cmd | VSC | postman</p>
                </div>
              </div>
            </div>
            <a href="https://jhelcyprojects.netlify.app/login" class="btn btn-primary" target="_blank">ver proyecto</a>
          </div>
        </div>
      </div>
      <div class="col d-flex justify-content-center">
        <div class="card text-bg-dark" style="width: 18rem;">
          <img src="../../../assets/img/app-three.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="accordion-item">
              <h2 class="accordion-header card-title py-2">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                  Seguimiento y Análisis de Germinación
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionThree">
                <div class="accordion-body">
                  <p class="card-text">Es una plataforma web para monitorear y analizar cada etapa del crecimiento de las plantas en el vivero del Páramo de Guerrero, garantizando la trazabilidad detallada para asegurar su viabilidad y éxito en la restauración del ecosistema.
                  La plataforma permitió registrar, seguir y analizar el progreso de las plantas para tomar decisiones informadas en su proceso de germinación y desarrollo.</p>
                  <p>Git | <a href="https://github.com/Jhelcy-Sandoval/Sistema-de-gesti-n-de-proyectos" target="_blank">GitHub</a> | cmd | VSC | postman</p>
                </div>           
              </div>
            </div>
            <a href="https://m-tricas-verdes.onrender.com/" class="btn btn-primary"  target="_blank">ver proyecto</a>
          </div>
        </div>
      </div>

      <!-- <div class="col d-flex justify-content-center">
        <div class="card text-bg-dark" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col d-flex justify-content-center">
        <div class="card text-bg-dark" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col d-flex justify-content-center">
        <div class="card text-bg-dark" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>
