<section class="container-lg mb-1">
  <div class="py-3">
    <h1 class="text-center display-3 fw-bolder p-4 border border-primary rounded">Servicios</h1>
  </div>
  <div class="pt-3 m-2">
    <div class="row row-cols-1 row-cols-md-2 gx-3">
      <div class="col mb-4">
        <div class="card mb-3 grey">
          <div class="card-body p-4">
            <h5 class="card-title">Desarrollo Frontend:</h5>
            <ul class="card-text">
              <li>Diseño y desarrollo de interfaces de usuario atractivas y funcionales utilizando HTML, CSS y JavaScript.
              </li>
              <li>
                Creación de sitios web responsivos y optimizados para dispositivos móviles.
              </li>
              <li>
                Implementación de animaciones y efectos interactivos para mejorar la experiencia del usuario.
              </li>
            </ul>
          </div>
        </div>
        <div class="card mb-3 grey" >
          <div class="card-body p-4">
            <h5 class="card-title">Desarrollo Fullstack:</h5>
            <ul class="card-text">
              <li>Desarrollo de aplicaciones web completas, desde el frontend hasta el backend, utilizando tecnologías como React.js, Node.js y Express.js.
              </li>
              <li>
                Integración de bases de datos relacionales (SQL) o no relacionales (NoSQL) para almacenar y gestionar datos de manera eficiente.
              </li>
              <li>
                Implementación de autenticación de usuarios, manejo de sesiones y seguridad.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-3 grey" >
          <div class="card-body p-4">
            <h5 class="card-title">Consultoría Tecnológica:</h5>
            <ul class="card-text">
              <li>
                Asesoramiento en la selección de tecnologías adecuadas para proyectos web.
              </li>
              <li>
                Evaluación de la arquitectura de software existente y recomendaciones para mejoras.
              </li>
              <li>
                Optimización de rendimiento y escalabilidad de aplicaciones web.
              </li>
            </ul>
          </div>
        </div>
        <div class="card mb-3 grey" >
          <div class="card-body p-4">
            <h5 class="card-title">Mantenimiento y Soporte Técnico:</h5>
            <ul class="card-text">
              <li>
                Actualizaciones regulares de software y corrección de errores para garantizar el funcionamiento óptimo de las aplicaciones.
              </li>
              <li>
                Soporte técnico continuo para resolver problemas y responder preguntas de los usuarios.
              </li>
              <li>
                Monitoreo de la seguridad y aplicaciones de parches de seguridad según sea necesario.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
