<section class="container-lg home">
  <div class="row py-4 row-cols-1 row-cols-md-2">
    <div class="col text-center text-md-start">
      <div class="mx-md-5">
        <h1 class="text-primary my-4">Jhelcy sandoval</h1>
        <h2 class="fs-1 grey d-inline text-black px-3 my-4">Frontend developer</h2>
        <h3 class="fs-2 fst-italic my-4 mx-5 mx-md-0">Transformando líneas de código en soluciones innovadoras</h3>
        <div >
          <img src="../../../assets/img/stack.svg" alt="" class=" w-md-100 " >
        </div> 
      </div>
    </div>
    <div class="col">
      <div class="banner-image d-flex justify-content-center">
        <img  class="rounded-circle img-fluid  m-4" src="../../../assets/img/foto.webp" alt="foto de perfil">
      </div>
      <span class="text-center d-flex justify-content-center align-items-center">
        <p #email class="p-2 m-2">{{ emailText }}</p>
        <button 
          class="btn btn-ligth border " 
          [class]="{ 'border-primary': !isCopied, 'border-danger': isCopied }" 
          (click)="copyClipboard()"
        >
          <img src="../../../assets/img/envelope-at-fill.svg" alt="">
        </button>
      </span>
    </div>
  </div>
  <div class="row grey">
    <div class="col">
      <div class="d-flex justify-content-center p-5">
        <img src="../../../assets/img/foto-2.webp" alt="foto-2">
      </div>
    </div>
    <div class="col border-start border-dark border-2 p-5">
      <h1 class="fw-bold fs-1">¡Hola a todos!</h1>
      <p class="fs-5 my-4">Soy  Jhelcy Sandoval, Tecnólogo en Análisis y Desarrollo de Sistemas de Información, y me especializo en la creación de soluciones a medida para el mundo empresarial. </p>
      <p class="fs-5 border border-primary p-2 rounded shadow">Como desarrollador frontend, tengo las habilidades necesarias para llevar tus ideas desde la concepción hasta la implementación, ofreciendo soluciones robustas y eficientes.</p>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 py-4">
    <div class="col">
      <hr class="border border-ligth border-3 opacity-50 d-none d-md-block">
    </div>
    <div class="col d-flex justify-content-center">
      <h1>servicios</h1>
    </div>
    <div class="col">
      <hr class="border border-ligth border-3 opacity-50 d-none d-md-block">
    </div>
  </div>
  <div class="row row-cols-sm-1 row-cols-md-4">
    <div class="col d-flex justify-content-center">
      <div class="text-center p-5">
        <img src="../../../assets/img/window-fullscreen.svg" class="w-25 m-3" alt="">
        <h5 class="fw-bold">Desarrollo de sitios web</h5>
        <p>Diseño y desarrollo de sitios web responsivos y atractivos </p>
        <a href="portafolio/servicios">ver mas</a>
      </div>
    </div>
    <div class="col d-flex justify-content-center">
      <div class="text-center p-5">
        <img src="../../../assets/img/window-sidebar.svg" class="w-25 m-3" alt="">
        <h5 class="fw-bold">Desarrollo de aplicaciones web</h5>
        <p>Crear aplicaciones web personalizadas y escalables utilizando tecnologías modernas</p>
        <a href="portafolio/servicios">ver mas</a>
      </div>
    </div>
    <div class="col d-flex justify-content-center">
      <div class="text-center p-5">
        <img src="../../../assets/img/database-fill-gear.svg" class="w-25 m-3" alt="">
        <h5 class="fw-bold">Integración de API</h5>
        <p>Integrar servicios externos y APIs en aplicaciones web</p>
        <a href="portafolio/servicios"> ver mas</a>
      </div>
    </div>
    <div class="col d-flex justify-content-center">
      <div class="text-center p-5">
        <img src="../../../assets/img/chat-square-text-fill.svg" class="w-25 m-3" alt="">
        <h5 class="fw-bold">Consultoría en tecnología</h5>
        <p>Asesoramiento experto sobre la selección de tecnologías adecuadas</p>
        <a href="portafolio/servicios">ver mas</a>
      </div>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 py-4 grey">
    <div class="col">
      <hr class="border border-dark border-3 opacity-50 d-none d-md-block">
    </div>
    <div class="col d-flex justify-content-center ">
      <h1>Proyectos</h1>
    </div>
    <div class="col">
      <hr class="border border-dark border-3 opacity-50 d-none d-md-block">
    </div>
  </div>
  <div class="row grey p-3 justify-content-center">         
    <div class="col col-md-5 carousel-col">
      <app-proyectos></app-proyectos>
      <div class="d-flex justify-content-center">
        <a href="portafolio/proyectos" class="btn btn-primary my-1 text-center ">ver mas proyectos</a>
      </div> 
    </div>
  </div>
   <div class="row row-cols-1 row-cols-md-3 py-4">
    <div class="col">
      <hr class="border border-ligth border-3 opacity-50 d-none d-md-block">
    </div>
    <div class="col d-flex justify-content-center">
      <h1>Habilidades</h1>
    </div>
    <div class="col">
      <hr class="border border-ligth border-3 opacity-50 d-none d-md-block">
    </div>
  </div>
  <div class="text-center m-5">
    <app-habilidades></app-habilidades>
  </div>
  <div class="row my-1 grey">
    <div class="col p-5">
      <h1 class="text-center mb-2">¿Cómo Puedo Ayudarte?</h1>
      <p class="text-center">Ya sea que necesites optimizar procesos, implementar nuevas funcionalidades o crear un sistema desde cero, estoy aquí para convertir tus ideas en realidad. ¡Vamos a trabajar juntos para llevar tu empresa al siguiente nivel!</p>
    </div>
  </div>
</section>