<nav class="navbar navbar-expand-md">
  <div class="container-fluid">
    <div class="col-2 d-block align-items-center">
      <a class="navbar-brand" [routerLink]="'home'">
        <img src="../../../assets/img/icono.svg" class="img-fluid" alt="logo">
      </a>
    </div>
    <button class="navbar-toggler bg-body-secondary" type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#navbarContent" 
      aria-controls="navbarContent" 
      aria-expanded="false" 
      aria-label="Toggle navigation"
      (click)= isCollapse()>
      <span class="navbar-toggler-icon icon-white"></span>
      
    </button>
    <div class="collapse navbar-collapse {{menu}}" id="navbarContent" >
      <div class="col-10 navbar-nav d-flex justify-content-evenly m-2">
        @for (item of navBar; track item) {
          <a
          [routerLink]="item.path"
          routerLinkActive="bg-primary rounded"
          class="p-2 d-inline-flex"
          >
          <div class="flex flex-col" >
              <span class="text-lg font-bold leading-5 text-white">
                {{item.title}}
              </span>
          </div>
          </a>
      }
        <!-- Button trigger modal -->
      <button type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Contacto
      </button>

        <!-- Button pdf -->
        <a href="../../../assets/pdf/hoja de vida-1.pdf" class="btn btn-outline-light" download="CV_Jhelcy_Sandoval">
          Curriculum
        </a>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header border-bottom border-dark-subtle">
              <h1 class="modal-title fs-5 text-primary fw-bolder" id="exampleModalLabel">Formulario de contacto
                <img src="../../../assets/img/whatsapp.svg" alt="">
              </h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
              <form [formGroup]="contacForm" (ngSubmit)="formFunctions()" target="_blank">
                <div class="modal-body">
                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Correo</label>
                    <input type="email" formControlName="email" class="form-control" id="email" placeholder="nombre@ejemplo.com">
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                    <input type="text" formControlName="name" class="form-control" id="exampleFormControlInput1" placeholder="nombre apellido">
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                    <textarea class="form-control" formControlName="chat" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                </div>
                <div class="modal-footer border-top border-dark-subtle">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cancelar</button>
                  <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="!contacForm.valid">Enviar
                  </button>
                </div>
              </form>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</nav>