<section class="container-lg mb-1">
  <div class="py-3">
    <h1 class="text-center display-3 fw-bolder p-4 border border-primary rounded">Sobre mí</h1>
  </div>
  <div class="pt-3 ">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Biografía</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Filosofía</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Experiencia</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="educacion-tab" data-bs-toggle="tab" data-bs-target="#educacion-tab-pane" type="button" role="tab" aria-controls="educacion-tab-pane" aria-selected="false" >Educación</button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active p-4 border border-ligth" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
        <div class="row row-cols-1 row-cols-md-2">
          <div class="col">
            <h4 class="fw-bolder py-2">Biografía</h4>
            <p><strong>Me llamo Jhelcy Sandoval</strong> , una joven de 20 años nacida en Bogotá, Colombia. Desde pequeña me ha fascinado la tecnología, lo que me llevó a estudiar una <strong>Tecnología en Análisis y Desarrollo de Sistemas de Información.</strong>
            </p>
            <p> 
            Me gradué con éxito y ya cuento con <strong>seis meses de experiencia</strong> como <strong>desarrolladora fullstack.</strong> Durante este tiempo he perfeccionado mis habilidades en diferentes lenguajes de programación, frameworks y herramientas, lo que me ha permitido adquirir una visión completa del ciclo de vida del desarrollo de software.
            </p>
            <p>
            Mi pasión por el mundo tecnológico me impulsa a seguir aprendiendo y creciendo profesionalmente. Actualmente, estoy enfocada en <strong>profundizar mis conocimientos en el desarrollo frontend,</strong> con el objetivo de crear interfaces web intuitivas y atractivas para los usuarios.
            </p>
          </div>
          <div class="col my-5">
            <p>
              <strong>Soy una persona proactiva, responsable y con un gran deseo de aprender.</strong> Me destaco por mi capacidad para trabajar en equipo, mi facilidad para adaptarme a nuevos entornos y mi constante búsqueda de soluciones innovadoras.
              </p>
              <p>
              <strong>
              Estoy segura de que mi pasión por la tecnología y mi dedicación al aprendizaje me llevarán a alcanzar grandes logros en mi carrera profesional.</strong>
              </p>
          </div>
        </div>
      </div>
      <div class="tab-pane fade p-4 border border-ligth" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
        <h4 class="fw-bolder py-2">Filosofía</h4>
        <p>Mi filosofía de trabajo se basa en el aprendizaje continuo. Creo que la mejor manera de mantenerme actualizado en mi campo es aprender constantemente nuevas habilidades y conocimientos. Me esfuerzo por participar en cursos de formación, leer libros y artículos especializados y asistir eventos relevantes.
        </p>
      </div>
      <div class="tab-pane fade p-4 border border-ligth" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
        <h4 class="fw-bolder py-2">Experiencia</h4>
        <p><strong>Experiencia profesional:</strong> Desarrollador Junior Fullstack</p>
        <p><strong>Empresa:</strong> Yunex Tráfic (Bogotá, Colombia)</p>
        <p><strong>Cargo:</strong> Desarrollador Fullstack (Abril 2023 - Octubre 2023)</p>
        <p><strong>Responsabilidades:</strong></p>
        <ul>
          <li> Desarrollo de un ERP para la gestión de procesos internos.</li>
          <li>Implementación del stack MERN (MongoDB, Express, React, Node.js) para la creación del prototipo inicial.
          </li>
          <li>Migración del proyecto al stack MEAN (MongoDB, Express, Angular, Node.js) bajo la metodología ágil Scrum con Jira.
          </li>
          <li>Desarrollo del módulo de gestión de información, incluyendo:
            <ul>
              <li>Implementación de CRUDs (Create, Read, Update, Delete) para la gestión de datos.
              </li>
              <li>Diseño y desarrollo de interfaces intuitivas y receptivas.
              </li>
              <li>Integración con APIs externas.
              </li>
              <li>creación de API</li>
            </ul>
          </li>
          <li>Participación en el desarrollo del módulo de garantías.
          </li>
          <li>Implementación de mejoras significativas al prototipo inicial :
            <ul>
              <li>Re-arquitectura del código para mayor eficiencia y escalabilidad.
              </li>
              <li>Corrección de errores y optimización del rendimiento.
              </li>
              <li>Implementación de nuevas funcionalidades y mejoras en la usabilidad.
              </li>
            </ul>
          </li>
          <li>Aprendizaje continuo y desarrollo profesional
          </li>
        </ul>
        <p><strong>Logros</strong></p>
        <ul>
          <li>Implementación exitosa del login y maquetación del sistema.</li>
          <li>Compleción rápida del módulo de gestión de información.</li>
          <li>Mejora significativa en eficiencia y escalabilidad.</li>
          <li>Integración exitosa de APIs externas.</li>
          <li>Reconocimiento por parte del equipo por habilidades de aprendizaje rápido y resolución de problemas.</li>
        </ul>
        <p><strong>Competencias Demostradas:</strong></p>
        <ul>
          <li>Desarrollo Fullstack con MERN y MEAN.</li>
          <li>Experiencia en metodologías ágiles como Scrum.</li>
          <li>Trabajo autónomo y en equipo.</li>
          <li>Capacidad de aprendizaje y adaptación.</li>
          <li>Orientación a resultados.</li>
          <li>Habilidades de comunicación y presentación.</li>
        </ul>
        <p><strong>Herramientas y Tecnologías:</strong></p>
        <ul>
          <li><strong>Front-end:</strong> React, Angular, Bootstrap, HTML5, CSS3, JavaScript.</li>
          <li><strong>Back-end:</strong> Node.js, Express, MongoDB, APIs.</li>
          <li><strong>Herramientas:</strong> Git, GitHub, Jira, Visual Studio, npm, yarn.</li>
        </ul>
      </div>
      <div class="tab-pane fade p-4 border border-ligt" id="educacion-tab-pane" role="tabpanel" aria-labelledby="educacion-tab" tabindex="0">
        <h4 class="fw-bolder py-2">Educación</h4>
        <p><strong>Tecnóloga en Análisis y Desarrollo de Sistemas de Información</strong></p>
        <ul>
          <li><strong>Institucion:</strong> Servicio Nacional de Aprendizaje (SENA)</li>
          <li><strong>Ciudad:</strong> Duitama, Boyacá</li>
          <li><strong>Año de Graduación:</strong> 2023</li>
        </ul>
        <p><strong>Cursos en Plataformas de Educación Online:</strong></p>
        <ul>
          <li><strong>Platzi</strong>
            <ul>
              <li><strong>Curso de Frontend Developer</strong></li>
              <p>Este curso proporcionó una introducción completa al desarrollo frontend, cubriendo conceptos fundamentales de HTML, CSS y JavaScript.</p>
              <li><strong>Curso Definitivo de HTML y CSS</strong></li>
              <p> En este curso, adquirí conocimientos avanzados sobre HTML y CSS, incluyendo las mejores prácticas de diseño web y técnicas de maquetación responsiva.</p>
              <li><strong>Curso de Fundamentos de Angular</strong></li>
              <p>Aprendí los fundamentos de Angular, incluyendo la creación de componentes, el enrutamiento, y la interacción con APIs REST para construir aplicaciones web dinámicas.</p>
              <li><strong>Curso Profesional de Git y GitHub</strong></li>
              <p> Este curso me proporcionó habilidades avanzadas en el uso de Git y GitHub para el control de versiones y colaboración en proyectos de desarrollo de software.</p>
            </ul>
          </li>
          <li><strong>EDteam</strong></li>
          <ul>
            <li><strong>Curso de Bootstrap desde Cero</strong></li>
            <p>En este curso, aprendí a utilizar Bootstrap para agilizar el desarrollo frontend, creando sitios web con diseños responsivos y componentes predefinidos.</p>
            <li><strong>Curso de Tailwind CSS desde Cero</strong></li>
            <p>A través de este curso, adquirí habilidades para utilizar Tailwind CSS, un framework de utilidad CSS, para diseñar y estilizar interfaces web de manera eficiente y personalizada.</p>
          </ul>
        </ul>
      </div>
    </div>  
  </div>
</section>
